/* /////////////////////////////////// style all browser /////////////////////////////////// */
div.bg-intro{
	position : fixed;
	left     : 0;
	right    : 0;
	top      : 0;
	bottom   : 0;
	z-index  : -1;
	background-image    : url('./images/intro/bg.jpg');
	background-repeat   : no-repeat;
	background-size     : cover;
	background-position : center top;
}
/* /////////////////////////////////// Start top /////////////////////////////////// */
div.intro{
	padding-top: 1px;
	position: relative;
}
div.top{
	width:500px;
	height:500px;
	left:0;
	right:0;
	top:-440px;
	margin: 0 auto;
	position:absolute;
}
div.top .circle-one{
	width:480px;
	height:480px;
	background:#eff1e9;
	border-radius:0 0 250px 250px;
	padding: 15px;
	margin: 0 auto;
	overflow: hidden;
}
div.circle-one .circle-two{
	width:260px;
	height:260px;
	background:#ffffff;
	border-radius:0 0 240px 240px;
	padding: 110px;
}
div.circle-two .circle-three{
	width:140px;
	height:140px;
	background:#f5f5f5;
	border-radius:140px;
	position: relative;
	margin: 0 auto;
	padding: 60px;
}
div.circle-three .text{
	padding-top:100px;
}
div.circle-three p{
	text-align:center;
	color: #000000;
	font-weight: bold;
	padding: 12px 0 5px 0;
	
}
div.circle-three{
	position:relative;	
}
div.circle-three p#fa, div.circle-three p#about, div.circle-three p#en{
	position:absolute;
	color: #f1efd6;
	font-weight: normal;
	font-size:14px;
	font-family:'farsi', Tahoma, Arial, "Times New Roman", Times, serif;
	padding: 1px 22px !important;
	background: #ff4e00;
	margin-right:15px;
	border:1px solid #d24000;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	white-space: nowrap;
	display: none;
}
div.circle-three p#about{
	margin-right:22px;
}
div.circle-three img{
	width:8px;
	height:11px;
	display: block;
	padding:2px 0 5px 0;
	margin: 0 auto;
}
div.circle-three .text2{
	padding-top:95px;
}
div.circle-three .button > div{
	width:91px;
	height:0;
	overflow: hidden;
	display: block;
	cursor: pointer;
	position: absolute;
	z-index: 5;
}
div.circle-three .button .fa{
	background:url('./images/intro/fa.png') 0 0 no-repeat;
	top:220px;
	right:-40px;
}
div.circle-three .button .fa:hover{
	background:url('./images/intro/fa.png') 0 -93px no-repeat;
}
div.circle-three .button .en{
	background:url('./images/intro/en.png') 0 0 no-repeat;
	top:220px;
	left:-40px;
}
div.circle-three .button .en:hover{
	background:url('./images/intro/en.png') 0 -92px no-repeat;
}
div.circle-three .button .about{
	background:url('./images/intro/about.png') 0 0 no-repeat;
	top:270px;
	right:0;
	left:0;
	margin: 0 auto;
}
div.circle-three .button .about:hover{
	background:url('./images/intro/about.png') 0 -100px no-repeat;
}
/* /////////////////////////////////// Statr About-Chamani /////////////////////////////////// */
div.about-chamani{
	margin:280px auto 50px auto;
	padding:10px 15px;
	text-shadow:0px 2px 1px #FFFFFF;
	-moz-text-shadow:0px 2px 1px #FFFFFF;
	-webkit-text-shadow:0px 2px 1px #FFFFFF;
	box-shadow:  0px 0px 5px 2px #343434;
	-moz-box-shadow:  0px 0px 5px 2px #343434;
	-webkit-box-shadow:  0px 0px 5px 2px #343434;
	overflow: hidden;
	background:url('./images/intro/bg-flash.png') 0 0 repeat;
}
div.about-chamani h2{
	padding:0 15px 7px 0;
	color: #632f00;
	font-family:'farsi', Tahoma, Arial, "Times New Roman", Times, serif;
	border-bottom:1px dashed #a47b57;
	font-size:19px;
	font-weight:bold;
}
div.about-chamani p{
	padding: 7px 0;
	color: #3b1f00;
	font-size:12px;
	line-height:22px;
}
div.about-chamani #left{
	width:180px;
	padding-top:10px;
	float: left;
}
div.about-chamani #left img{
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=50);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
div.about-chamani #left a:hover img{
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=80);
}
div.about-chamani #right{
	margin:0 0 0 250px;
}
div.about-chamani #en{
	direction: ltr !important;
	display: inline-block;
}
div.about-chamani, div.video{
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
/* /////////////////////////////////// Start Intro And Video /////////////////////////////////// */
div.start-intro{
	float: left;
	cursor: pointer;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	position: absolute;
	bottom:50px;
	right:40px;
	overflow: hidden;
	background:#c0d862;
	background-image: linear-gradient(top, #CBE466 10%, #E1F78B 50%, #CBE466 90%);
	background-image: -o-linear-gradient(top, #CBE466 10%, #E1F78B 50%, #CBE466 90%);
	background-image: -moz-linear-gradient(top, #CBE466 10%, #E1F78B 50%, #CBE466 90%);
	background-image: -webkit-linear-gradient(top, #CBE466 10%, #E1F78B 50%, #CBE466 90%);
	background-image: -ms-linear-gradient(top, #CBE466 10%, #E1F78B 50%, #CBE466 90%);
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.1, #CBE466),
		color-stop(0.5, #E1F78B),
		color-stop(0.9, #CBE466)
	);
	padding:12px 25px;
	box-shadow:0px 9px 0px #b3c95c, 0px 9px 25px rgba(0,0,0,.7);
	-moz-box-shadow:0px 9px 0px #b3c95c, 0px 9px 25px rgba(0,0,0,.7);
	-webkit-box-shadow:0px 9px 0px #b3c95c, 0px 9px 25px rgba(0,0,0,.7);
	font-family:'farsi', Tahoma, Arial, "Times New Roman", Times, serif;
	color: #795e00;
}
div.start-intro:hover{
	color: #ad8600;
}
div.start-intro:active{
	box-shadow: 0px 3px 0px #b3c95c, 0px 3px 6px rgba(0,0,0,.9);
	-webkit-box-shadow: 0px 3px 0px #b3c95c, 0px 3px 6px rgba(0,0,0,.9);
	bottom:44px;
}
div.start-intro p{
	font-size:18px;
	text-shadow:0px 2px 1px #FFFFFF;
	-moz-text-shadow:0px 2px 1px #FFFFFF;
	-webkit-text-shadow:0px 2px 1px #FFFFFF;
}
div.video{
	width:620px;
	height:30px;
	padding:4px;
	direction: ltr;
	border:15px solid #670000;
	background-color: #fee4c8;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	z-index:999;
	box-shadow:  0px 0px 5px 2px #ffffff;
	-moz-box-shadow:  0px 0px 5px 2px #ffffff;
	-webkit-box-shadow:  0px 0px 5px 2px #ffffff;
	display: none;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
div.video #videoContent{
	width:620px;
	height:339px;
	overflow:hidden;
	display: none;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}
div.close-video{
	width:55px;
	height:22px;
	overflow:hidden;
	background:#670000;
	position: absolute;
	top:410px;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
	z-index:990;
	box-shadow:  0px 0px 5px 2px #ffffff;
	-moz-box-shadow:  0px 0px 5px 2px #ffffff;
	-webkit-box-shadow:  0px 0px 5px 2px #ffffff;
	border-radius:0 0 10px 10px;
	display: none;
}
div.close{
	margin: 27px auto 0 auto;
	width:27px;
	height:27px;
	background:url('images/intro/close.png') 0 0 no-repeat;
	overflow: hidden;
	cursor: pointer;
}
div.close:hover{
	background-position:0 -27px;
}




