*{
	margin:0;
	padding:0;
	border:0;
	outline:0;
}
div.bg{
	position : fixed;
	left     : 0;
	right    : 0;
	top      : 0;
	bottom   : 0;
	z-index  : -1;
	background-image    : url('bg.jpg');
	background-repeat   : no-repeat;
	background-size     : cover;
	background-position : center top;
}
div.main{
	width:980px;
	position: relative;
	margin:0 auto;
}
div.padding-flash{
	padding: 210px 0 50px 0;
}
div.padding-flash #flashContent{
	width:620px;
	height:339px;
	padding: 5px;
	margin:0 auto;
	display: block;
	background:url('bg-flash.png') 0 0 repeat;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	overflow: hidden;
	box-shadow:  0px 0px 5px 2px #cdc600;
	-moz-box-shadow:  0px 0px 5px 2px #cdc600;
	-webkit-box-shadow:  0px 0px 5px 2px #cdc600;
}