@charset "utf-8";
/* CSS Document */
* {
	margin:0;
	padding:0;
}
div.Container {
	width:1290px;
	margin:0 auto;
	padding-top:1px;
}
div.Pages {
	width:1290px;
	height:680px;
	overflow:hidden;
	position:relative;
}
div.Scrool3 {
	position:absolute;
	width:4000px;
	height:inherit;
	left:-1290px;
	top:0;
	-webkit-transition-property:all;
	-webkit-transition-duration:1500ms;
	-webkit-transition-timing-function:cubic-bezier(0, 0.7, 0.3, 1);
    -moz-transition-property:all;
    -moz-transition-duration:1500ms;
    -moz-transition-timing-function:cubic-bezier(0, 0.7, 0.3, 1);
    -ms-transition-property:all;
    -ms-transition-duration:1500ms;
    -ms-transition-timing-function:cubic-bezier(0, 0.7, 0.3, 1);
}
div.Scrool6 {
	position:absolute;
	width:1290px;
	height:4200px;
	-webkit-transition-property:all;
	-webkit-transition-duration:1500ms;
	-webkit-transition-timing-function:cubic-bezier(0, 0.7, 0.3, 1);
    -moz-transition-property:all;
    -moz-transition-duration:1500ms;
    -moz-transition-timing-function:cubic-bezier(0, 0.7, 0.3, 1);
    -ms-transition-property:all;
    -ms-transition-duration:1500ms;
    -ms-transition-timing-function:cubic-bezier(0, 0.7, 0.3, 1);
}
div.EnPage {
	width:1290px;
	height:inherit;
	background-color:#FFF; /*sefid*/
	background:url(../images/FI036256.png) no-repeat;
	float:left;
}
div.HomePage {
	width:1290px;
	height:inherit;
	background-color:#000;/*siah*/
	float:left;
}
div.FrPage {
	position:relative;
	width:1290px;
	height:inherit;
	background-color:#090;/*sabz*/
	float:left;
	-webkit-transition-property:all;
	-webkit-transition-duration:800ms;
	-webkit-transition-timing-function:cubic-bezier(0, 0.7, 0.3, 1);
    -moz-transition-property:all;
    -moz-transition-duration:800ms;
    -moz-transition-timing-function:cubic-bezier(0, 0.7, 0.3, 1);
    -ms-transition-property:all;
    -ms-transition-duration:800ms;
    -ms-transition-timing-function:cubic-bezier(0, 0.7, 0.3, 1);
}
div.Home {
	width:1290px;
	height:680px;
	background-color:#0000FF;  /*abi*/
	background-image: url(../images/dark_wall.png);
    background-repeat:repeat;
}
div.Portfolio {
	background-color:#060; /*sabz*/
}
div.Gallery {
	background-color:#F00; /*ghermez*/
}
div.About {
	background-color:#FF0; /*zard*/
}
div.Contact {
	background-color:#90C;/*banafsh*/
}
div.Blog {
	background-color:#666; /*toosi*/
}
div.Header {
	width:inherit;
	height:100px;
}
div.HeaderContent {
	width:inherit;
	height:60px;
}
div.Menu {
	width:inherit;
	height:40px;
	}
div.Content {
	width:inherit;
	height:530px;
}
div.Footer {
	width:inherit;
	height:50px;
	border:solid 1px #000;
}
.English {
	margin-top:550px;
	margin-left:600px;
}
ul.SiteMenu {
	height:30px;
	margin-right:100px;

margin-top:5px;
}
ul.SiteMenu li {
	float:right;
	list-style-type:none;
	padding-right:20px;
	padding-left:20px;
	height:inherit;
}

ul.SiteMenu li:hover{
	
	background-color:#0CC;
	border-radius:2px;
}

ul.SiteMenu li a {
	text-decoration:none;
	display:block;
	color:#FFF;
	margin-top:5px;
}
ul.SiteMenu li a:hover {
	cursor:pointer;
}


/*===============SlideShow=============== */

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url(../Fonts/WebSymbols-Regular.otf);
    src: url('../Fonts/WebSymbols-Regular.otf?#iefix') format('embedded-opentype'), url('../Fonts/websymbols-regular-webfont.woff') format('woff'), url('../Fonts/websymbols-regular-webfont.ttf') format('truetype'), url('../Fonts/WebSymbols-Regular.otf/websymbols-regular-webfont#WebSymbolsRegular') format('svg');
}

@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);


h1 { color: white }

#slideshow-wrap {
    display: block;
    height: 570px;
    min-width: 1100px;
    max-width: 1100px;
    margin: auto;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    box-shadow: 0px 0px 5px rgba(0,0,0,.8);
    
    margin-top:5px;
    position: relative;
}

#slideshow-inner {
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    overflow: hidden;
    position: relative;
	
}

#slideshow-inner>ul {
    list-style: none;
    height: 100%;
    width: 5600px;
    overflow: hidden;
    position: relative;
    left: 0px;
    -webkit-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
    transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}

#slideshow-inner>ul>li {
    width: 1100px;
    height: 585px;
    float: left;
	
    position: relative;
}

#slideshow-inner>ul>li>img {
    margin: auto;
    height: 100%;
	
}

#slideshow-wrap input[type=radio] {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 100;
    visibility: hidden;
}

#slideshow-wrap label:not(.arrows):not(.show-description-label) {
    position: absolute;
    left: 510px;
    bottom: 10px;
    z-index: 100;
    width: 12px;
    height: 12px;
    background-color: rgba(200,200,200,1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    box-shadow: 0px 0px 3px rgba(0,0,0,.8);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

#slideshow-wrap label:not(.arrows):active { bottom: 10px }

#slideshow-wrap input[type=radio]#button-1:checked~label[for=button-1] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-2:checked~label[for=button-2] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-3:checked~label[for=button-3] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-4:checked~label[for=button-4] { background-color: rgba(100,100,100,1) }

#slideshow-wrap input[type=radio]#button-5:checked~label[for=button-5] { background-color: rgba(100,100,100,1) }

#slideshow-wrap label[for=button-1] { margin-left: -36px }

#slideshow-wrap label[for=button-2] { margin-left: -18px }

#slideshow-wrap label[for=button-4] { margin-left: 18px }

#slideshow-wrap label[for=button-5] { margin-left: 36px }

#slideshow-wrap input[type=radio]#button-1:checked~#slideshow-inner>ul { left: 0 }

#slideshow-wrap input[type=radio]#button-2:checked~#slideshow-inner>ul { left: -100% }

#slideshow-wrap input[type=radio]#button-3:checked~#slideshow-inner>ul { left: -200% }

#slideshow-wrap input[type=radio]#button-4:checked~#slideshow-inner>ul { left: -300% }

#slideshow-wrap input[type=radio]#button-5:checked~#slideshow-inner>ul { left: -400% }

label.arrows {
    font-family: 'WebSymbolsRegular';
    font-size: 25px;
    color: rgb(255,255,240);
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: none;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    text-shadow: 0px 0px 3px rgba(0,0,0,.8);
}

label.arrows:hover { opacity: 1 }

label.arrows:active { margin-top: -23px }

input[type=radio]#button-1:checked~.arrows#arrow-2, input[type=radio]#button-2:checked~.arrows#arrow-3, input[type=radio]#button-3:checked~.arrows#arrow-4, input[type=radio]#button-4:checked~.arrows#arrow-5 {
    right: -55px;
    display: block;
}

input[type=radio]#button-2:checked~.arrows#arrow-1, input[type=radio]#button-3:checked~.arrows#arrow-2, input[type=radio]#button-4:checked~.arrows#arrow-3, input[type=radio]#button-5:checked~.arrows#arrow-4 {
    left: -55px;
    display: block;
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

input[type=radio]#button-2:checked~.arrows#arrow-1 { left: -19px }

input[type=radio]#button-3:checked~.arrows#arrow-2 { left: -37px }

input[type=radio]#button-5:checked~.arrows#arrow-4 { left: -73px }

.description {
    position: absolute;
    top: 0;
    left: 0;
    width: 260px;
    font-family: 'Yanone Kaffeesatz';
    z-index: 1000;
}

.description input { visibility: hidden }

.description label {
    font-family: 'WebSymbolsRegular';
    background-color: rgba(255,255,240,1);
    position: relative;
    left: -17px;
    top: 00px;
    width: 40px;
    height: 27px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    z-index: 5;
    color: rgb(20,20,20);
}

#slideshow-inner>ul>li:hover .description label { opacity: 1 }

.description input[type=checkbox]:checked~label { opacity: 1 }

.description .description-text {
    background-color: rgba(255,255,230,.5);
    padding-left: 45px;
    padding-top: 25px;
    padding-right: 15px;
    padding-bottom: 15px;
    position: relative;
    top: -35px;
    z-index: 4;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    color: rgb(20,20,20);
}

.description input[type=checkbox]:checked~.description-text { opacity: 1 }